flows.json
[{"id":"378308beeb528701","type":"tab","label":"Fluxo 1","disabled":false,"info":"","env":[]},{"id":"ac40254fbae40be1","type":"tcp in","z":"378308beeb528701","name":"atuador","server":"server","host":"","port":"1515","datamode":"stream","datatype":"utf8","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":190,"y":140,"wires":[["a1e318f032cfbd2a","c65cf27ea875aadb"]]},{"id":"a1e318f032cfbd2a","type":"debug","z":"378308beeb528701","name":"atuador output","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":430,"y":180,"wires":[]},{"id":"c65cf27ea875aadb","type":"tcp out","z":"378308beeb528701","name":"sensor","host":"","port":"1516","beserver":"server","base64":false,"end":false,"tls":"","x":430,"y":40,"wires":[]},{"id":"fc2622a806918ee3","type":"function","z":"378308beeb528701","name":"function 1","func":"// Função de primeiro grau: f(x) = ax + b\nfunction funcaoPrimeiroGrau(a, b, x) {\n    return a * x + b;\n}\n\n// Exemplo de uso:\nlet a = 2;  // Coeficiente angular\nlet b = 3;  // Coeficiente linear\nlet x = 5;  // Valor de x\n\nlet resultado = funcaoPrimeiroGrau(a, b, x);\nconsole.log(`O resultado da função f(${x}) \n            = ${a} * ${x} + ${b} é: ${resultado}`);\nreturn resultado;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":120,"wires":[[]]}]