flows (3).json
[
    {
        "id": "d15e01f8f4f75731",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bb6bae2fa4e21f08",
        "type": "tcp in",
        "z": "d15e01f8f4f75731",
        "name": "",
        "server": "server",
        "host": "",
        "port": "65001",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "c4562cbadc89a278",
                "f0e92d0176501df0"
            ]
        ]
    },
    {
        "id": "c4562cbadc89a278",
        "type": "function",
        "z": "d15e01f8f4f75731",
        "name": "Atuador",
        "func": "msg.CV = parseFloat(msg.payload); // Converte a carga útil recebida\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 300,
        "wires": [
            [
                "ce91552c267e78ce",
                "abe7d79e8d1213e1"
            ]
        ]
    },
    {
        "id": "3a770703cd0d3896",
        "type": "function",
        "z": "d15e01f8f4f75731",
        "name": "Sensor",
        "func": "msg.payload = msg.PV.toString(); // Converte PV para string antes de enviar\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 440,
        "wires": [
            [
                "a2d04fcfdbef374d",
                "5534065ffce5353d"
            ]
        ]
    },
    {
        "id": "ce91552c267e78ce",
        "type": "function",
        "z": "d15e01f8f4f75731",
        "name": "Planta",
        "func": "// Modelo de sistema de primeira ordem: G(s) = K / (τs + 1)\nvar K = 1.5; // Ganho\nvar tau = 3; // Constante de tempo\nvar dt = 0.1; // Tempo de amostragem\n\n// Estado interno\nvar state = context.get('state') || 0; // Valor inicial\nvar input = parseFloat(msg.CV) || 0;   // Entrada CV\n\n// Atualização do modelo\nstate = state + (K * input - state) * (dt / tau);\ncontext.set('state', state);\n\n// Atualizar saída (PV)\nmsg.PV = state;\nmsg.payload = state; // Envia para o próximo nó\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 300,
        "wires": [
            [
                "4b720a1a765d83c1",
                "3a770703cd0d3896"
            ]
        ]
    },
    {
        "id": "a2d04fcfdbef374d",
        "type": "debug",
        "z": "d15e01f8f4f75731",
        "name": "PV",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "PV",
        "statusType": "msg",
        "x": 630,
        "y": 440,
        "wires": []
    },
    {
        "id": "4b720a1a765d83c1",
        "type": "debug",
        "z": "d15e01f8f4f75731",
        "name": "Saída",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 300,
        "wires": []
    },
    {
        "id": "abe7d79e8d1213e1",
        "type": "debug",
        "z": "d15e01f8f4f75731",
        "name": "CV",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "CV",
        "targetType": "msg",
        "statusVal": "CV",
        "statusType": "msg",
        "x": 630,
        "y": 140,
        "wires": []
    },
    {
        "id": "f0e92d0176501df0",
        "type": "debug",
        "z": "d15e01f8f4f75731",
        "name": "erro",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 350,
        "y": 140,
        "wires": []
    },
    {
        "id": "5534065ffce5353d",
        "type": "tcp out",
        "z": "d15e01f8f4f75731",
        "name": "",
        "host": "",
        "port": "65002",
        "beserver": "server",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 180,
        "y": 440,
        "wires": []
    }
]