PLC-AWS-mateus/PLC-AWS/flows.json
[
    {
        "id": "1",
        "type": "tab",
        "label": "OpenPLC Integration",
        "disabled": false,
        "info": ""
    },
    {
        "id": "modbus-read-sp",
        "type": "modbus-read",
        "z": "1",
        "name": "Read SP",
        "topic": "",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "1",
        "rate": "1",
        "rateUnit": "s",
        "server": "modbus-server",
        "x": 160,
        "y": 60,
        "wires": [
            [
                "debug-read-sp"
            ],
            []
        ]
    },
    {
        "id": "debug-read-sp",
        "type": "debug",
        "z": "1",
        "name": "SP Value",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 340,
        "y": 60,
        "wires": []
    },
    {
        "id": "modbus-read-pv",
        "type": "modbus-read",
        "z": "1",
        "name": "Read PV",
        "topic": "",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "1",
        "quantity": "1",
        "rate": "1",
        "rateUnit": "s",
        "server": "modbus-server",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "debug-read-pv"
            ],
            []
        ]
    },
    {
        "id": "debug-read-pv",
        "type": "debug",
        "z": "1",
        "name": "PV Value",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 340,
        "y": 120,
        "wires": []
    },
    {
        "id": "inject-set-sp",
        "type": "inject",
        "z": "1",
        "name": "Set SP",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "500",
        "payloadType": "num",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "modbus-write-sp"
            ]
        ]
    },
    {
        "id": "modbus-write-sp",
        "type": "modbus-write",
        "z": "1",
        "name": "Write SP",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "0",
        "server": "modbus-server",
        "x": 340,
        "y": 180,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "modbus-server",
        "type": "modbus-client",
        "name": "OpenPLC",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "tcpHost": "172.31.32.249",
        "tcpPort": "502",
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true
    }
]